*.bson filter=lfs diff=lfs merge=lfs -text
MDBExportZip/dump/vector_search/products.bson.gz filter=lfs diff=lfs merge=lfs -text
MDBExportZip/dump/vector_search/products.metadata.json.gz filter=lfs diff=lfs merge=lfs -text
